div.rightBar {
    float: left;
    background: linear-gradient( to bottom, #da54ca 10%, #cb57db  70%, #ba5aec);
    width: 240px; 
    height: 200%; 
    padding-top: 10px; 
    border-radius: 5px;
    font-family: Poppins;
    font-size: 11px; 
    padding-bottom: 200%;
}

div.editControl {   
    float: left;
    margin-top: 50px;
    margin-left: 2%;
    border: solid 1px #E6E6E6;
    border-bottom: none;
    width: 60%;
    height: 55px;
    padding: 10px;
    padding-top: 5px;
    min-width: 450px;
}

div.contents {   
    float: left; 
    border: solid 1px #E6E6E6;
    margin-left: 2%;
    padding: 10px;
    width: 60%;   
    min-width: 450px;
}

p.rightBarLink {
    color: #f1c4ee; 
    display: inline; 
    padding-left: 10px;
}

ul.rightBar {
    list-style: none; 
    padding-left: 30px;
}

li.rightBar {
    list-style-type : disc; 
    padding-bottom: 5px;
    color: white;
}

img.rightBar {
    position: relative; 
    top: 5px; 
    left: 5px;
}

div.buttonBox {
    float: left;
    border-radius: 3px;
    border: solid 1px #EBEBEB;
    padding: 0px;  
    height: 25px;
    margin-top: 5px;
    margin-right: 5px;   
}

input.editBtn[type="button"] {
    display:none;
}

input.editButton[type="button"] + label img {
    float: left;
    width: 13px;
    height: 13px;   
    border: solid 2px transparent;
}

input[type="button"]:active  + label img {
    background-color: #E5E5E5;
}

input[type="button"]:hover + label img {
    background-color: #D3D3D3;
    cursor:pointer;
}

input.editCheckBox[type="checkbox"] {
    display:none;
}

input.editCheckBtn[type="checkbox"] + label img {
    float: left;
    width:13px;
    height:13px;   
    border: solid 2px transparent;
}

input.editCheckBtn[type="checkbox"]:checked + label img {
    background-color: #E5E5E5;
}

input.editCheckBtn[type="checkbox"]:hover + label img {
    background-color: #D3D3D3;
    cursor:pointer;
}

input.editRadio[type="radio"] {
    display:none;
}

input.editRadioBtn[type="radio"] + label img {
    float: left;
    width:13px;
    height:13px;   
    border: solid 2px transparent;
}

input[type="radio"]:checked + label img {
    background-color: #E5E5E5;
}

input[type="radio"]:hover + label img {
    background-color: #D3D3D3;
    cursor:pointer;
}

img.btn {
    padding: 4px;
}

iframe.contents {        
    border: 1px solid #999;
    width: 100%;
}

div.colorPickerArea {
    display : none;
    float: left;  
    position: relative;
    top: 2px;    
    border: 1px solid black; 
    width: 200px;    
    z-index: 1000;
    background-color:#F9F9F9;    
}

div.colorPicker {     
    display: inline-block;
    width: 182px;     
    padding: 8px;            
}

li.colorPicker {
    float: left;
    margin: 0 1px 1px 0;
    width: 12px;
    height: 12px;
    cursor:pointer;
    border: none;    
}

span.colorBox {
    float: left;
    margin-top: 6px;
    border: solid 1px #D8D8D8;
    width: 66px;    
    height: 15px;     
    background-color: #000000;
}

input.colorHexText {    
    float: left;
    margin: 5px 5px 0px 3px;
    width: 66px;
    height: 11px;  
}

button.colorPickerBtn {
    float: left;
    margin-top: 4px;
    border: solid 1px #BDBDBD;
    height: 18px;
    background-color: white;
    font-size: 11px;
    font-family: 돋움;    
    cursor:pointer;    
}

button:focus {
    outline: none;
  }
  
input.paletteBtn[type="checkbox"] {
    display: none;
    float: right;    
}

label.paletteLabel {
    float: right;
    position: relative;
    top: 2px;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 12px;
}

img.paletteLabel {
    position: relative; 
    margin-left: 3px;
    width: 5px; 
    height: 8px;   
}

div.paletteArea {    
    display: inline-block;
    position: relative; 
    bottom: 4px;    
    width: 182px;
    height: 130px;
    padding: 8px;
    background-color:#F9F9F9;     
}

div.paletteBorder {
    padding: 5px;
    border: solid 1px #D8D8D8; 
    height: 122px;      
}

canvas.palette {
    float: left;
    margin-right: 5px;    
    width: 141px;  
    height: 120px;  
    cursor: crosshair;
}

canvas.bar {
    float: left;
    width: 20px;
    height: 120px;  
    cursor: crosshair;    
}