{% extends 'adminMenu.html' %}

{% block edit %}
<div class='editControl'>
    <div class='buttonBox' style="width: 200px;">
        <input id='numList' class="editBtn editButton" type="button" onclick="htmlEdit('contents', 'insertOrderedList')">
        <label for='numList'><img class='btn' src="/static/img/list.png"/></label>

        <input id='dotsList' class="editBtn editButton" type="button" onclick="htmlEdit('contents', 'insertUnorderedList')">
        <label for='dotsList'><img class='btn' src="/static/img/list-dots.png"/></label>

        <input id='rigthIndent' class="editBtn editButton" type="button" onclick="htmlEdit('contents', 'indent')">
        <label for='rigthIndent'><img class='btn' src="/static/img/right-indent.png"/></label>

        <input id='leftIndent' class="editBtn editButton" type="button" onclick="htmlEdit('contents', 'outdent')">
        <label for='leftIndent'><img class='btn' src="/static/img/left-indent.png"/></label>

        <input id='leftAlign' class="editRadio editRadioBtn" name='alignGrop' type="radio" onclick="radioBtnClick('contents', 'justifyleft')" checked="checked">
        <label for='leftAlign'><img class='btn' src="/static/img/left-align.png"/></label>

        <input id='centerAlign' class="editRadio editRadioBtn" name='alignGrop' type="radio" onclick="radioBtnClick('contents', 'justifycenter')">
        <label for='centerAlign'><img class='btn' src="/static/img/center-align.png"/></label>

        <input id='rightAlign' class="editRadio editRadioBtn" name='alignGrop' type="radio" onclick="radioBtnClick('contents', 'justifyright')">
        <label for='rightAlign'><img class='btn' src="/static/img/right-align.png"/></label>

        <input id='fullAlign' class="editRadio editRadioBtn" name='alignGrop' type="radio" onclick="radioBtnClick('contents', 'justifyFull')">
        <label for='fullAlign'><img class='btn' src="/static/img/justify-align.png"/></label>
    </div>
    <div class='buttonBox' style="width: 100px;">
        <input id='boldBtn' class="editCheckBox editCheckBtn" name='checkBox' type="checkbox" onclick="htmlEdit('contents', 'bold')">
        <label for='boldBtn'><img class='btn' src="/static/img/bold.png"/></label>

        <input id='italicBtn' class="editCheckBox editCheckBtn " name='checkBox' type="checkbox" onclick="htmlEdit('contents', 'italic')">
        <label for='italicBtn'><img class='btn' src="/static/img/italic.png"/></label>

        <input id='crossOutBtn' class="editCheckBox editCheckBtn" name='checkBox' type="checkbox" onclick="htmlEdit('contents', 'strikethrough')">
        <label for='crossOutBtn'><img class='btn' src="/static/img/cross-out.png"/></label>

        <input id='underlineBtn' class="editCheckBox editCheckBtn" name='checkBox' type="checkbox" onclick="htmlEdit('contents', 'underline')">
        <label for='underlineBtn'><img class='btn' src="/static/img/underline.png"/></label>
    </div>
    <div class='buttonBox' style="width: 100px;">
        <input id='fontColor' class="editBtn editButton" type="button" onclick="colorPickerBtnClick()">
        <label for='fontColor'><img class='btn' src="/static/img/font-color.png" style="width: 13px; padding-right: 1px; padding-left: 2px;"/></label>

        <input id='fontColorPicker' class="editBtn editButton" type="button" onclick="showColorPicker()">
        <label for='fontColorPicker'><img class='btn' src="/static/img/sort-down.png" style="width: 7px; height: 11px; padding: 0px; padding-top: 6px; padding-bottom: 5px"/></label>
        <div id="colorPicker" class="colorPicker"> 
            <ul style="list-style: none; padding: 0px; margin: 0px;">
                <li class="colorPicker" style="background-color:#FF0000;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#FF5E00;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#FFBB00;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#FFE400;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#ABF200;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#1FDA11;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#00D8FF;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#0055FF;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#0900FF;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#6600FF;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#FF00DD;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#FF007F;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#000000;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#FFFFFF;" onclick="colorPickerLinkClick(this)"></li>  <!-- 줄바꿈 -->
                <li class="colorPicker" style="background-color:#FFD8D8;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#FAE0D4;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#FAECC5;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#FAF4C0;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#E4F7BA;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#CEFBC9;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#D4F4FA;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#D9E5FF;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#DAD9FF;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#E8D9FF;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#FFD9FA;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#FFD9EC;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#F6F6F6;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#EAEAEA;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#FFA7A7;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#FFC19E;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#FFE08C;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#FAED7D;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#CEF279;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#B7F0B1;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#B2EBF4;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#B2CCFF;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#B5B2FF;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#D1B2FF;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#FFB2F5;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#FFB2D9;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#D5D5D5;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#BDBDBD;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#F15F5F;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#F29661;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#F2CB61;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#E5D85C;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#BCE55C;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#86E57F;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#5CD1E5;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#6699FF;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#6B66FF;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#A366FF;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#F261DF;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#F261AA;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#A6A6A6;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#8C8C8C;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#CC3D3D;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#CC723D;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#CCA63D;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#C4B73B;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#9FC93C;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#47C83E;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#3DB7CC;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#4174D9;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#4641D9;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#7E41D9;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#D941C5;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#D9418D;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#747474;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#5D5D5D;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#980000;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#993800;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#997000;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#998A00;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#6B9900;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#2F9D27;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#008299;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#003399;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#050099;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#3D0099;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#990085;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#99004C;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#4C4C4C;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#353535;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#670000;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#662500;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#664B00;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#665C00;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#476600;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#22741C;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#005766;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#002266;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#030066;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#290066;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#660058;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#660033;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#212121;" onclick="colorPickerLinkClick(this)"></li>
                <li class="colorPicker" style="background-color:#000000;" onclick="colorPickerLinkClick(this)"></li>
            </ul>
            <span id="colorBox" class="colorBox"></span>
            <script>
                $(window).on("load", function() {  
                    document.getElementById('colorBox').style.backgroundColor = '#000000';
                });
            </script>
            <input id="colorHexText" class="colorHexText" type="text" value="#000000" maxlength="7"/>
            <button class="colorPickerBtn" onclick="colorPickerBtnClick()">입력</button>
            <div class="test"></div>           
        </div>
    </div>
</div>
<div class='contents'>
    <iframe id='contents' class='contents' frameborder='0'></iframe>
    <script type="text/javascript">
        $(window).on("load", function() {  
            var edit = {};
            edit.w = document.getElementById('contents').contentWindow;            
            edit.d = edit.w.document;                    
            edit.d.write("<!DOCTYPE html><html><head><style>*{white-space: -moz-pre-wrap; word-break: break-all;}</style>");    
            edit.d.write("<script type=\"text/javascript\" src='/static/js/jquery-3.3.1.min.js'>");        
            edit.d.write("</sc"+"ript>");
            edit.d.write("<script type=\"text/javascript\" src='/static/js/webEdit.js'>");
            edit.d.write("</sc"+"ript>");
            edit.d.write("<script>window.addEventListener('keyup', eventFillter, false);");
            edit.d.write("window.addEventListener('keydown', eventFillter, false);");
            edit.d.write("window.addEventListener('click', eventFillter, false);");            
            edit.d.write("</sc"+"ript>");
            edit.d.write("</head><body spellcheck=\"false\" onfocus=\"focusEvent()\"></body></html>");
            edit.d.designMode = "on";                                           
            edit.w.focus();     
        });        
    </script>
</div>
{% endblock %}