{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>
            {% block page_title %}
                My - Site
            {% endblock %}
        </title>
        <meta charset = "utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'signup/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{% static 'js/join.js' %}"></script>
        <script language="javascript">
            function  showDiv(name) {
                document.getElementById(name).style.display = "block";
            }
        </script>
    </head>
    <body>
        <a class= "left" href="{% url 'home' %}">HOME</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if request.user.is_authenticated %}
                <a class= "right" href="{% url 'logout_url' %}" style="margin-right: 10%;">
                    로그아웃
                </a>
                <div class= "right">
                    <label class= "main">
                        {{ request.user.username }}
                    </label>
                    회원님&nbsp;
                </div>
            {% else %}
                <a class= "right" href="{% url 'signup' %}" style="margin-right: 10%;">회원가입</a>
                <a class= "right" href="{% url 'login_url' %}" style="margin-right: 20px;">로그인</a>
            {% endif %}
        </div>
        <hr width="100%" style="background-color:black; height:1px; border:none;" />
        {% block content %}{% endblock %}
    </body>
</html>
