* {
  box-sizing: borer-box;
}

label.signup {
  font-size: 13px;
}

input:focus {
  outline: none;
}

input.signup {  
  width: 120px;
  height: 18px;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  font-size: 12px;
}

input.signup.post {  
  width: 40px;
  height: 18px;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  font-size: 12px;
}

input.signup.address1 {
  width: 300px;
  height: 18px;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  margin-bottom: 5px;
  font-size: 12px;
}

input.signup.address2 {
  width: 300px;
  height: 18px;
  text-align: left;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;  
  font-size: 12px;
}

table.signup {
  border-collapse: collapse;
  border: 1px solid #d7d5d5;
  width: 50%;
  height: 550px;
  margin-left:20%;
  margin: auto;
  min-width: 600px;  
  font-size: 12px;
}

table.signup th {
  border-right: 1px solid #d7d5d5;
  border-bottom: 1px solid #d7d5d5;  
  width: 200px;  
  font-weight: normal;
  text-align: left;
  padding-left: 20px;
  font-size: 12px;
}

table.signup td {  
  padding-left: 2%;
  border-bottom: 1px solid #d7d5d5;
  width: 77%;
}

button.signup {  
  border: 1px solid black;
  background-color: white;
  width: 150px;
  height: 30px;  
}

button.signup:focus {
  outline: none;
}

button.signup:hover {
  text-decoration: underline;
  cursor:pointer;
}

button.duplcheck {
  display: inline-block;
  border: none;
  background-color: #989898;  
  color: white;
  font-size: 12px;
  width: 80px;
  line-height: 21.5px;
  height: 20px;
  text-align: center;
  font-family: Arial;
}

button.duplcheck:focus {
  outline: none;
}

button.duplcheck:hover {
  cursor:pointer;
}

a.signup  {
  display: inline-block;
  width: 70px;
  line-height: 21.5px;
  height: 20px;
  font-family: Arial;
  font-size: 11px;
  background: #999;
  color: #fff;
  text-align: center;    
}

a.signup:hover {
  cursor:pointer;
}

div.zipcodeLayer {
  position: absolute;
  left: 41%; 
  width: 600px; 
  height: 620px; 
  background: rgb(255, 255, 255); 
  z-index: 999;
  border: 1px solid rgb(127, 129, 134);
}

iframe.zipcodeLayer {
  width:100%;
  height:100%; 
  border:0;
}

@media (max-width: 557px){
  label.signup {
    font-size: 10px;
    padding: 0px 20px 0px 0px;
  }
}

#footer.signup {
  position:fixed;
  left:0px;
  bottom:0px;
  height:60px;
  width:100%;
  background:#EE7785;
  color: white;
}

select.signup {
  width: 60px;
  height: 24px;
  border: 1px solid #D5D5D5;
  border-radius: 5px;
  box-sizing: borer-box;
  outline: none;  
}

select.signup.email {
  width: 110px;
  height: 24px;
  border: 1px solid #D5D5D5;
  border-radius: 5px;
  box-sizing: borer-box;
  outline: none;  
  font-size: 12px;
}

input.phone {
  width: 40px;
  height: 20px;
  border: 1px solid #D5D5D5;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;
  box-sizing: borer-box;  
}
